In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_excel('Data_Train.xlsx')
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [8]:
df.drop('Route',axis=1,inplace=True)

In [7]:
df.drop('Additional_Info',axis=1,inplace=True)

In [9]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302
...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,19:55,22:25,2h 30m,non-stop,4107
10679,Air India,27/04/2019,Kolkata,Banglore,20:45,23:20,2h 35m,non-stop,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,08:20,11:20,3h,non-stop,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,11:30,14:10,2h 40m,non-stop,12648
10682,Air India,9/05/2019,Delhi,Cochin,10:55,19:15,8h 20m,2 stops,11753

In [10]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [11]:
df['Total_Stops']=df['Total_Stops'].replace({
    'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, '4 stops':4,
})

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_13244\1777983356.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Total_Stops']=df['Total_Stops'].replace({

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,0.0,3897
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2.0,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2.0,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1.0,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1.0,13302
...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,19:55,22:25,2h 30m,0.0,4107
10679,Air India,27/04/2019,Kolkata,Banglore,20:45,23:20,2h 35m,0.0,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,08:20,11:20,3h,0.0,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,11:30,14:10,2h 40m,0.0,12648
10682,Air India,9/05/2019,Delhi,Cochin,10:55,19:15,8h 20m,2.0,11753

In [18]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [30]:
def duration_to_minutes(duration):
    h=0
    m=0
    if 'h' in duration:
        h=int(duration.split('h')[0])
    
    if 'm' in duration:
        m=int(duration.split('m')[0].split()[-1])

    return h*60+m

df['Duration']=df['Duration'].apply(duration_to_minutes)

TypeError: argument of type 'int' is not iterable

In [31]:
df['Duration']=df['Duration']/60

In [33]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2.833333,0.0,3897
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7.416667,2.0,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19.000000,2.0,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5.416667,1.0,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4.750000,1.0,13302
...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,19:55,22:25,2.500000,0.0,4107
10679,Air India,27/04/2019,Kolkata,Banglore,20:45,23:20,2.583333,0.0,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,08:20,11:20,3.000000,0.0,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,11:30,14:10,2.666667,0.0,12648
10682,Air India,9/05/2019,Delhi,Cochin,10:55,19:15,8.333333,2.0,11753

In [32]:
df['Duration'].corr(df['Price'])

np.float64(0.5063714821960481)

In [34]:
df.drop('Arrival_Time',axis=1,inplace=True)

In [35]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Duration,Total_Stops,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,2.833333,0.0,3897
1,Air India,1/05/2019,Kolkata,Banglore,05:50,7.416667,2.0,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,19.000000,2.0,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,5.416667,1.0,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,4.750000,1.0,13302
...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,19:55,2.500000,0.0,4107
10679,Air India,27/04/2019,Kolkata,Banglore,20:45,2.583333,0.0,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,08:20,3.000000,0.0,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,11:30,2.666667,0.0,12648
10682,Air India,9/05/2019,Delhi,Cochin,10:55,8.333333,2.0,11753

In [36]:
df['Dep_Time']=pd.to_datetime(df['Dep_Time'])

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_13244\4255200870.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_Time']=pd.to_datetime(df['Dep_Time'])

In [38]:
df['Dep_Hour']=df['Dep_Time'].dt.hour
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Duration,Total_Stops,Price,Dep_Hour
0,IndiGo,24/03/2019,Banglore,New Delhi,2025-12-20 22:20:00,2.833333,0.0,3897,22
1,Air India,1/05/2019,Kolkata,Banglore,2025-12-20 05:50:00,7.416667,2.0,7662,5
2,Jet Airways,9/06/2019,Delhi,Cochin,2025-12-20 09:25:00,19.000000,2.0,13882,9
3,IndiGo,12/05/2019,Kolkata,Banglore,2025-12-20 18:05:00,5.416667,1.0,6218,18
4,IndiGo,01/03/2019,Banglore,New Delhi,2025-12-20 16:50:00,4.750000,1.0,13302,16
...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,2025-12-20 19:55:00,2.500000,0.0,4107,19
10679,Air India,27/04/2019,Kolkata,Banglore,2025-12-20 20:45:00,2.583333,0.0,4145,20
10680,Jet Airways,27/04/2019,Banglore,Delhi,2025-12-20 08:20:00,3.000000,0.0,7229,8
10681,Vistara,01/03/2019,Banglore,New Delhi,2025-12-20 11:30:00,2.666667,0.0,12648,11
10682,Air India,9/05/2019,Delhi,Cochin,2025-12-20 10:55:00,8.333333,2.0,11753,10

In [39]:
def time_of_day(hour):
    if 5 <= hour < 11:
        return 'Morning'
    elif 11 <= hour < 16:
        return 'Noon'
    elif 16 <= hour < 22:
        return 'Evening'
    else:
        return 'Night'

df['Dep_Period'] = df['Dep_Hour'].apply(time_of_day)

In [40]:
df

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Duration,Total_Stops,Price,Dep_Hour,Dep_Period
0,IndiGo,24/03/2019,Banglore,New Delhi,2025-12-20 22:20:00,2.833333,0.0,3897,22,Night
1,Air India,1/05/2019,Kolkata,Banglore,2025-12-20 05:50:00,7.416667,2.0,7662,5,Morning
2,Jet Airways,9/06/2019,Delhi,Cochin,2025-12-20 09:25:00,19.000000,2.0,13882,9,Morning
3,IndiGo,12/05/2019,Kolkata,Banglore,2025-12-20 18:05:00,5.416667,1.0,6218,18,Evening
4,IndiGo,01/03/2019,Banglore,New Delhi,2025-12-20 16:50:00,4.750000,1.0,13302,16,Evening
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,2025-12-20 19:55:00,2.500000,0.0,4107,19,Evening
10679,Air India,27/04/2019,Kolkata,Banglore,2025-12-20 20:45:00,2.583333,0.0,4145,20,Evening
10680,Jet Airways,27/04/2019,Banglore,Delhi,2025-12-20 08:20:00,3.000000,0.0,7229,8,Morning
10681,Vistara,01/03/2019,Banglore,New Delhi,2025-12-20 11:30:00,2.666667,0.0,12648,11,Noon
10682,Air India,9/05/2019,Delhi,Cochin,2025-12-20 10:55:00,8.333333,2.0,11753,10,Morning

In [41]:
df.drop('Dep_Hour',axis=1,inplace=True)
df.drop('Dep_Time',axis=1,inplace=True)

In [42]:
df

,Airline,Date_of_Journey,Source,Destination,Duration,Total_Stops,Price,Dep_Period
0,IndiGo,24/03/2019,Banglore,New Delhi,2.833333,0.0,3897,Night
1,Air India,1/05/2019,Kolkata,Banglore,7.416667,2.0,7662,Morning
2,Jet Airways,9/06/2019,Delhi,Cochin,19.000000,2.0,13882,Morning
3,IndiGo,12/05/2019,Kolkata,Banglore,5.416667,1.0,6218,Evening
4,IndiGo,01/03/2019,Banglore,New Delhi,4.750000,1.0,13302,Evening
...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,2.500000,0.0,4107,Evening
10679,Air India,27/04/2019,Kolkata,Banglore,2.583333,0.0,4145,Evening
10680,Jet Airways,27/04/2019,Banglore,Delhi,3.000000,0.0,7229,Morning
10681,Vistara,01/03/2019,Banglore,New Delhi,2.666667,0.0,12648,Noon
10682,Air India,9/05/2019,Delhi,Cochin,8.333333,2.0,11753,Morning

In [43]:
df['Date_of_Journey']=pd.to_datetime(df['Date_of_Journey'])
df['Month']=df['Date_of_Journey'].dt.month

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_13244\4155825328.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date_of_Journey']=pd.to_datetime(df['Date_of_Journey'])

In [44]:
df

,Airline,Date_of_Journey,Source,Destination,Duration,Total_Stops,Price,Dep_Period,Month
0,IndiGo,2019-03-24,Banglore,New Delhi,2.833333,0.0,3897,Night,3
1,Air India,2019-05-01,Kolkata,Banglore,7.416667,2.0,7662,Morning,5
2,Jet Airways,2019-06-09,Delhi,Cochin,19.000000,2.0,13882,Morning,6
3,IndiGo,2019-05-12,Kolkata,Banglore,5.416667,1.0,6218,Evening,5
4,IndiGo,2019-03-01,Banglore,New Delhi,4.750000,1.0,13302,Evening,3
...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,2.500000,0.0,4107,Evening,4
10679,Air India,2019-04-27,Kolkata,Banglore,2.583333,0.0,4145,Evening,4
10680,Jet Airways,2019-04-27,Banglore,Delhi,3.000000,0.0,7229,Morning,4
10681,Vistara,2019-03-01,Banglore,New Delhi,2.666667,0.0,12648,Noon,3
10682,Air India,2019-05-09,Delhi,Cochin,8.333333,2.0,11753,Morning,5

In [45]:
df.drop('Date_of_Journey',axis=1,inplace=True)

In [46]:
df

,Airline,Source,Destination,Duration,Total_Stops,Price,Dep_Period,Month
0,IndiGo,Banglore,New Delhi,2.833333,0.0,3897,Night,3
1,Air India,Kolkata,Banglore,7.416667,2.0,7662,Morning,5
2,Jet Airways,Delhi,Cochin,19.000000,2.0,13882,Morning,6
3,IndiGo,Kolkata,Banglore,5.416667,1.0,6218,Evening,5
4,IndiGo,Banglore,New Delhi,4.750000,1.0,13302,Evening,3
...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,2.500000,0.0,4107,Evening,4
10679,Air India,Kolkata,Banglore,2.583333,0.0,4145,Evening,4
10680,Jet Airways,Banglore,Delhi,3.000000,0.0,7229,Morning,4
10681,Vistara,Banglore,New Delhi,2.666667,0.0,12648,Noon,3
10682,Air India,Delhi,Cochin,8.333333,2.0,11753,Morning,5

In [47]:
df.isna().sum()

Airline        0
Source         0
Destination    0
Duration       0
Total_Stops    1
Price          0
Dep_Period     0
Month          0
dtype: int64

In [48]:
df['Total_Stops']=df['Total_Stops'].fillna(0)

In [52]:
df.isna().sum()

Airline        0
Source         0
Destination    0
Duration       0
Total_Stops    0
Price          0
Dep_Period     0
Month          0
dtype: int64

In [53]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Duration', 'Total_Stops', 'Price',
       'Dep_Period', 'Month'],
      dtype='object')

In [50]:
import os
os.makedirs('artifacts',exist_ok=True)
df.to_csv('artifacts/cleaned_data.csv',index=False)